/* ! Styles for entire homepage */
.homepage {
  display: flex;
  flex-direction: column;
}

/* ! Controlling layout of specifically polls on Homepage */
.pollContainer {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}